.ProgressBar{
    margin-top:60px ;
    padding-top:60px ;
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 250px;
    padding-right: 250px;
  
}
.b2{
    margin-left: 220px;
    padding-left: 220px;
}
.b1{
    margin-left: 230px;
    padding-left: 230px;

}