
.hm2{
font-family: "FrankRuehl Backslanted";
    font-size:50px ;
}
.code{
    font-family: "Dybbuk";
    color:rgb(160, 218, 112);
    font-size:70px ;
    /* margin-left:250px ;
    padding-left: 250px; */
    margin: auto;
    padding: auto;
}