.dav1{
/* margin-top: 20px;
padding-top: 20px; */
    font-family:'FrankRuehl Backslanted';
     /* text-align:center; */
     /* margin-right:10% !important;
     padding-right:10% !important; */
     /* display: inline-flex; */
     flex-direction: row-reverse;
     flex-wrap: wrap;
     font-size:40px;

}
.Breadcrumb{
      display: inline-flex;
      color:rgb(148, 238, 148);

}
.contaier-fluid1{
    text-align: center;
    display: flex;
}
.h13{
    font-family:'Dybbuk';
    color: rgb(160, 218, 112);
    font-size:70px;
    
}
/* .imeges1{
  size: 50%; */
/* margin-top: 0%;
margin-bottom: 0%;
padding-top: 0%;
padding-bottom: 0%; */
/* } */
  /* .img1{
    margin-right: 50% !important;
    padding-right: 50% !important;
  } */