.form1{
    font-family:"Alef";
 
    
    }
    .mb-31{
    margin-left:auto;
     margin-right:auto; 
    /* margin-left:1100px;
    margin-right:770px;  */
    width:500px; 
    /* text-align: center; */
     /* margin:80px; 
     padding:10px; */
    
    }
    .button1{
        width:70px;
       font-family:"Alef";
        background-color:rgb(160, 218, 112); 
        border-top-color:rgb(160, 218, 112) ;
        border-right-color: rgb(160, 218, 112);
        border-left-color:rgb(160, 218, 112) ;
        border-bottom-color: rgb(160, 218, 112);
      
    }
    .button1:hover{
        background-color:black; 
        border-top-color:black ;
        border-right-color: black;
        border-left-color:black ;
        border-bottom-color: black;
      
    }
    .h{
      font-family:'Alef' ;
      margin-left:auto;
      margin-right:auto; 
    }
  