 /* .imgLogo{
 direction:rtl;
 text-align:right;
 image-resolution:5px;
}  */
.Header{
  direction:rtl;
  /* display:flex ; */
  background-color:palegreen;
  font-family:"Alef";
  text-shadow:2px 2px 2px black;
  font-weight: bold;
  height:55px;
  font-size:23px; 
  /* display: flex;
  margin-left: 10%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center; */

}
.link{
  text-decoration: none;
  color:white;
  /* margin-right:30px ; */
  font-size: 30px;
}
  
.link:hover{
  color:white;}


.nav-link {
  padding-left: 62px !important;
 /* margin-right:auto;
  margin-left:auto ;*/
  /* padding-right:5px;
  padding-left:5px; */
  
}
/* .img1{
  background-image: url("imeges1.jpg");
  animation: anim1 ease-in-out 20s infinite;
}
@keyframes anim1 {
  0%{
    background-image: url("imeges1.jpg");
  }
  25%{
    background-image: url("imeges.jpg");
  }
} */
